* {
    box-sizing: border-box;
}

/*

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom 40px;
    padding: 20px;
}


body {     
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 12px;
    background:  url("../images/jquery.jpg") no-repeat center center  fixed;
    max-width:960px;
    width: 98%;
    margin: 0 auto;
    
    
}

#startbutton {

    display: inline-block;
    width: 100%;
    text-align: center;
    margin:0;
    padding: 15px;
    
}

    

#Count_Down {

   
    color: blue;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin:0;
    padding: 15px;


}

#gifmain {
  
    margin: 0 0 30px 0;
    padding: 15px;



}


